header{
    position: sticky;
    top: 0;
    background-color: blueviolet;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 30%;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

.logo1{
    width: 20vh;
}
#logo{
    background-color: aquamarine;
    width: 10%;
    height: 100%;
}
.First-Logo{
    height: 10%;
    width: 100%;
}

.first-image{
    width: 30vh;
}

/* video */
.video {
    display: flex;
    justify-content: center;
}

/* Images */
.main {
    display: flex;
    justify-content: space-between; /* Adjust this according to your layout preference */
}

#card1,
#card2,
#card3 {
    flex: 1;
    margin: 0 10px; /* Adjust spacing between cards */
}















/* min-width: starting point */
@media (min-width: 500px){
    header{
        background-color: lightcoral;
    }
}

/* max-width: stopping point */
@media (max-width: 500px){
    header{
        background-color: lightcyan;
    }
}